[user-theme] {
    --success: rgb(62, 165, 48);
    --warning: rgb(210, 104, 18);
    --error: rgb(187, 37, 37);
}

[user-theme="light"] {
    --primary: rgba(180, 180, 180, 1);
    --secondary: rgba(100, 100, 100, 1);
    --accent: rgb(230, 230, 230);
    --background: rgba(255, 255, 255, 1);
    --surface: rgba(100, 100, 100, 1);
    --border: rgb(59, 59, 59);
    --text: rgb(0, 0, 0);
    --link: rgba(128, 88, 194);
    --visited: rgb(55, 64, 194);
}

[user-theme="dark"] {
    --primary: rgba(12, 12, 13, 1);
    --secondary: rgba(24, 24, 26, 1);
    --accent: rgba(12, 12, 13, 1);
    --background: rgba(35, 35, 39, 1);
    --surface: rgba(100, 100, 100, 1);
    --border: rgb(211, 211, 211);
    --text: rgb(255, 255, 255);
    --link: rgba(167, 113, 255);
    --visited: rgb(73, 85, 255); 
}

.header {
    left: 0;
    top: 0;
    position: sticky;
    display: flex;
    height: fit-content;
    width: 100%;
    align-items: 'center';
    padding: 8px;
    background: var(--primary);
    border-bottom: 2px solid var(--border);
}

.body {
    padding: 0px;
    margin: 0px;
    background: var(--background);
    color: var(--text);
}

.link {    
    text-decoration: none;
    color: var(--link);
}

.link:visited {    
    text-decoration: none;
    color: var(--visited);
}

.link:hover {    
    text-decoration: underline;
    color: var(--visited);
}

.logo {
    width: 32px;
    height: 32px;
}

.span {
    color: var(--text);
}

.card_list {
    height: 100%;
    overflow-y: scroll;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    padding: 10px;
    margin: 0;
    list-style: none;
    border: 5px solid var(--border);
}

.card_item {
    background: var(--primary);
    border-radius: 10px;
    height: 100%;
    border: 2px solid var(--border);
    overflow: hidden;
}

.card_item_logo {
    width: 32px;
    height: 32px;
    margin-right: 10px;
    border-radius: 5px;
}

.card_item_header {
    display: flex;
    width: 100%;
    text-align: center;
    align-items: center;
}

.card_item_title {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    text-align: center;
    text-decoration: none;
    color: var(--text);
}

.card_item_description {
    width: auto;
    height: auto;
    display: flex;
    align-items: normal;
    justify-content: left;
    margin: 10px;
    color: var(--text);
}